<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="speechContainer">
    <h1>Upload new File</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <br>
        <input type="submit" value="Transcribe"/>
    </form>
    {%if transcript != "" %}
    <div id="speechTranscriptionContainer">
        <h1>Transcript</h1>
        <p>{{transcript}}</p>
    {% endif %}
        <br>
    {%if enhanced_transcript != "" %}
        <h1>Enhanced Transcript</h1>
        <p>{{enhanced_transcript}}</p>
    {% endif %}
    </div>
    <div>
        <h2> Transcript Stats</h2>
        <p> Total Characters: {{char_count}}
            <br>
            Total Words: {{word_count}}
            <br>
            Total Letters Minus Spaces: {{letter_count}}
            {%if enhanced_transcript != "" %}
        <h1>Parts of Speech Analysis</h1>
        <p>{{sentiment_rating}}</p>
        {% endif %}
        </p>
    </div>
</div>
</body>
</html>
