<!DOCTYPE HTML>
<html>
	<head>
		<title>Speech To Text Analyzer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/styles/main.css" />
		<noscript><link rel="stylesheet" href="../static/styles/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- Banner -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Speech to Text Analyzer</h1>
							<p class="major"> Elevate your audio files and take a deeper look under the hood</p>
							<p>Upload .wav audio file to convert to text and get sentiment analysis, parts of speech analysis, and so much more!</p>
							<form method="post" enctype="multipart/form-data">
								<input type="file" name="file">
								<br>
								<br>
								<input type="submit" value="Transcribe"/>
							</form>
						</div>
						<div class="image">
							<img src="../static/images/banner.jpg" alt="" />
						</div>
					</section>
				<!-- Results -->
					<section class="wrapper style1 align-center">
						{%if transcript != "" %}
						<div class="inner">
							<h2>Your Audio File Analyzed:</h2>
							<p>Your Speech Potential Now Unlocked</p>
							<div class="index align-left">

								<!-- Transcript -->
									<section>
										<header>
											<h3>Transcript</h3>
										</header>
										<div class="content">
											<p> {{transcript}}</p>
										</div>
									</section>
								{% endif %}
								<!-- Enhanced Transcript -->
									<section>
										{%if enhanced_transcript != "" %}
										<div class="content">
											<header>
												<h3>Enhanced Transcript</h3>
												<p>We used fastpunk package to transform the gramatically unstructured transcript into a more refined piece of text that could be be easily be understood by the users.</p>
											</header>
											<p>{{enhanced_transcript}}</p>

										</div>
									</section>
								{% endif %}

								<!-- Transcript Stats -->
									<section>
										{%if enhanced_transcript != "" %}
										<header>
											<h3>Transcript Stats</h3>
										</header>
										<div class="content">
											<div class="table-wrapper">
												<table>
													<thead>
														<tr>
															<th>Name</th>
															<th>Corresponding Value</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Total Characters</td>
															<td>{{char_count}}</td>
														</tr>
														<tr>
															<td>Total Words</td>
															<td>{{word_count}}</td>
														</tr>
														<tr>
															<td>Total Letters Minus Spaces</td>
															<td>{{letter_count}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								{% endif %}

                                <!-- Sentiment Analysis -->
									<section>
										{%if enhanced_transcript != "" %}
										<div class="content">
											<header>
												<h3> Sentiment Analysis</h3>
												<p>Scans text for positive and negative sentiments and returns a report to the user using the nltk SentimentIntestityAnalyzer</p>
											</header>
											<p>{{sentiment_rating}}</p>

										</div>
									</section>
								{% endif %}


				<!-- Modifiers -->
					<section class="wrapper style1 align-center" id="reference">
						{%if enhanced_transcript != "" %}
						<div class="inner">
							<h2>Part of Speech Analysis</h2>
							<p>Returns parts of speech like nouns, verbs, adjectives, etc, so that the user can analyze how their speech is composed.</p>
							<div class="index align-left">

                                <section>
										<header>
											<h3>Stats</h3>
										</header>
										<div class="content">
											<div class="table-wrapper">
												<table>
													<thead>
														<tr>
															<th>Part of Speech</th>
															<th>Number of Occurance</th>
                                                            <th>Words (List)</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Noun</td>
															<td>{{nouns|length}}</td>
                                                            <td>{{nouns}}</td>
														</tr>
														<tr>
															<td>Verbs</td>
															<td>{{verbs|length}}</td>
															<td>{{verbs}}</td>
														</tr>
                                                        <tr>
															<td>Adjectives</td>
															<td>{{adjectives|length}}</td>
															<td>{{adjectives}}</td>
														</tr>
                                                        <tr>
															<td>Adverbs</td>
															<td>{{adverbs|length}}</td>
															<td>{{adverbs}}</td>
														</tr>
                                                        <tr>
															<td>Conjunctions</td>
															<td>{{conjunctions|length}}</td>
															<td>{{conjunctions}}</td>
														</tr>
                                                        <tr>
															<td>Prepositions</td>
															<td>{{prepositions|length}}</td>
															<td>{{prepositions}}</td>
														</tr>
                                                        <tr>
															<td>Pronouns</td>
															<td>{{pronouns|length}}</td>
															<td>{{pronouns}}</td>
														</tr>
                                                        <tr>
															<td>Determiner</td>
															<td>{{determiners|length}}</td>
															<td>{{determiners}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
							</div>
						</div>
					</section>
								{% endif %}
				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<p>&copy; A Tool by Justice Tomlinson and Ratantej Madan. Website Desigin Inspired By <a href="https://html5up.net">HTML5 UP</a>. Copyright 2021</p>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

		<!-- Note: Only needed for demo purposes. Delete for production sites. -->
			<script src="../static/js/demo.js"></script>

	</body>
</html>
